ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
}
.spacer {
/* this separates text to either side of page */
  flex: 1 1 auto;
}
